
/* UNIVERSAL */

*{
		box-sizing: border-box;
		text-rendering: optimizeLegibility;
		margin: 0;
		padding: 0;
}

body {
		margin: 0;
		padding: 0;
		font-family: "segoe ui", "lucida console", Helvetica;
		line-height: 24px;
		background-color: #d4d4d4 ;
}

/* MAIN */

/* #main {
		width: 80vw;
		/*margin: 0 auto; 
} */


/* HEADER */

header {
		/*  *background-color: gray; control*/
		padding: 10px;
		height: 20vh;
		text-align: center;
}

h1, h3 {
		font-family: Georgia;
}

h1 {
		font-size: 1.8em;
		line-height: 1em;
		padding: 25px 5px 15px 5px;
}

h3 {
		font-size: 1.1em;
		padding: 25px 0;
}

#tagline {
		font-size: 70%;
		font-style: italic;
		font-variant: small-caps;
}

/* ALL SECTIONS */

.sect {
		width: 90vw;
		margin: 10% auto;
}


/* SECTION FIGURE */

figure {
		padding: 10px;
		margin: 0 3%;
		border-radius: 3px;
		background-color: #ffff;
		
}

#image {
		max-width: 100%;
		height: auto;
}

#img-caption {
		font-family: monospace;
		padding: 15px 10px;
		line-height: 1.5em;
}

.text {
		font-size: 78%;
		text-align: justify;
		margin: 2% 0;
		padding: 0 15px;
}

.text p {
		margin: 5% 0;
}

#britannica {
		font-weight: bold;
}

#tribute-link {
		text-decoration: none;
		color: hsl(190,50%,30%);
		cursor: pointer;
}



/*---MEDIA QUERIES---*/

/* ---RULES FOR SMARTPHONES, TABLET SCREEN---*/

@media (min-width: 768px){
		
		/* ---HEADER---*/
		
		header {
		/* background-color: gray; contro*/
		padding: 30px 0 0 0;
		height: 10vh;
}

h1 {

		font-size: 3.5em;
		line-height: .5em;
		padding: 45px 5px 20px 5px;
}

h3 {
		font-size: .7em;
		padding: 45px 0;
		text-align: center;
}

#tagline {
		font-size: 150%;
		padding-top: 10px;
}


/* ALL SECTIONS */

.sect {
		width: 90vw;
		margin: 5% auto;
}


/* SECTION FIGURE */

figure {
		padding: 13px;
		margin: 0 0.1%;
		
}

#img-caption {
		font-size: 70%;
		padding: 20px 5font: ;px;
		text-align: center;
}


.text {
		font-size: 68%;
		text-align: justify;
		margin: 2% 0;
		/*padding: 0 35px; control*/
}

.text p {
		margin: 7% 0;
		padding: 0 38px;
}

#britannica {
		font-size: 75%;
		font-weight: bold;
		padding: 10px;
}


}
